/* Primera lista */

/* Punto 1 */
.lista li:last-child {
    background-color: rgb(0, 0, 255);
}

/* Punto 2 */
.lista li:nth-child(odd) {
    text-decoration: underline green double;
}

/* Punto 3 */
.lista {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.lista li {
    list-style-position: inside;
}

/* Punto 4 */
.lista li:nth-child(1)::after {
    content: '🎻';
}
.lista li:nth-child(2)::after {
    content: '🏈';
}
.lista li:nth-child(3)::after {
    content: '🐨';
}
.lista li:nth-child(4)::after {
    content: '👺';
}
.lista li:nth-child(5)::after {
    content: '🌍';
}

.lista li:nth-child(6)::after {
    content: '🔆';
}

/* Punto 5 */
li:lang(en) {
    font-size: 2em;
    text-transform: uppercase;
}

/* Segunda lista */

/* Punto 1 */
#provincias li {
    list-style-type: upper-roman;
}

/* Punto 2 */
#provincias li:nth-child(2) {
    list-style-type: none;
}
